# Python and development
*.py[cod]
*.pyc
*~
*.swo
*.swp
__pycache__/
.Python
pip-log.txt

# Virtual Environments
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Django
media/
media-images/
cache/
static/CACHE/
staticfiles/

# CSS/SASS
.sass-cache/
main.css
main.css.map
ref.css
ref.css.map

# Documentation
docs/build

# Testing and Coverage
.coverage
.coverage.*
.pytest_cache/
coverage.xml
htmlcov/

# Project specific
crm/dev_settings\.py
local_settings.py
server.log
celerybeat-schedule

# Build and Distribution
dist/
build/
*.egg-info/

# IDE
.idea
.vscode